<div class="header">
  <p class="col-12 text-center d-inline-block heading m-0">Welcome to Green Koncepts</p>
  <div class="float-right d-inline-block user-elements">
    <p class="d-inline-block m-0 username">{{userName}}</p>
    <p class="d-inline-block m-0 logout-text" (click)="logout()">Logout</p>
  </div>
</div>
<div>
  <div>
    <div class="row justify-content-start">
      <div *ngFor="let element of pageElements" class="col-12 col-md-3 col-sm-3 col-xs-12 each-product">
        <a [routerLink]="[element.url]" routerLinkActive="router-link-active">
          {{element.name}}</a>
      </div>
    </div>
  </div>
</div>
