
.back-button {
  position: absolute;
  top: 13px;
  left:15px;
  cursor: pointer;
  z-index: 1;
}

.header {
  position: relative;
  border: 1px solid;
  box-shadow: 1px -6px 16px #888888;
  height: 60px;
  margin-bottom: 30px;
}
.heading {
  font-size: 24px;
  top: 13%;
}

.form-container {
  /* min-width: 500px; */
  height: 300px;
}

.form-fields {
  border: 1px solid;
  padding: 50px;
}

.button-section {
  margin-top: 50px;
}


@media (max-width: 500px) {
  .myForm {
    min-width: 90%;
  }
}
