<div class="header">
  <div (click)="goBack()" class="back-button">
    <p>Back</p>
  </div>
  <p class="col-12 text-center d-inline-block heading m-0">Welcome to Green Koncepts</p>
</div>

<div class="container">
  <div class="form-container">
    <form class="form-fields" [formGroup]="customerForm" (ngSubmit)="submit()">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Customer Name</label>
        <div class="offset-1 col-sm-8">
          <input type="text" class="form-control" formControlName="customerName">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Age</label>
        <div class="offset-1 col-sm-8">
          <input class="form-control" type="number" formControlName="customerAge">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="offset-1 col-sm-8">
          <textarea class="form-control" formControlName="customerAddress"></textarea>
        </div>
      </div>
      <div class="row button-section">
        <button type="submit" class="btn btn-primary col-sm-5">Save</button>
        <button (click)="goBack()" class="btn btn-secondary  offset-2 col-sm-5">Cancel</button>
      </div>
      <div class="m-0" *ngIf="userAdditon">User Successfully Created</div>
    </form>
  </div>

</div>
