ul li {
  list-style: none;
}

li {
  padding: 10px;
}

.back-button {
  position: absolute;
  top: 13px;
  left:15px;
  cursor: pointer;
  z-index: 1;
}

.header {
  position: relative;
  border: 1px solid;
  box-shadow: 1px -6px 16px #888888;
  height: 60px;
  margin-bottom: 30px;
}
.heading {
  font-size: 24px;
  top: 13%;
}
.user-elements{
    position: absolute;
    right: 0;
    top: 15px;
    right: 15px;
}


.logout-text,
.username{
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;     
  white-space: nowrap;
  text-align: right;
}


.logout-text{
  cursor: pointer;
  margin-top: 0;
  width: 80px;
}




@media (max-width: 500px) {
  .header {
    height: 200px;
  }
}
