.back-button {
  position: absolute;
  top: 13px;
  left: 15px;
  cursor: pointer;
  z-index: 1;
}

.header {
  position: relative;
  border: 1px solid;
  box-shadow: 1px -6px 16px #888888;
  height: 60px;
  margin-bottom: 30px;
}

.heading {
  font-size: 24px;
  top: 13%;
}

.form-container {
  height: 300px;
  height: 300px;
  max-width: 520px;
  margin: 0 auto;
}

.form-fields {
  border: 1px solid;
  padding: 50px;
}

.button-section {
  margin-top: 50px;
}

.error {
  color: #f00;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .header {
    height: 90px;
  }

  .back-button {
    top: 51px;
  }

  .button-section button {
    margin: 5px 0;
  }
}
