.form-container {
  min-width: 500px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-fields{
    border: 1px solid;
    padding: 0 50px 50px;
}

.heading-text{
  margin: 30px 0 40px;
}

.error-message{
  color: #f00;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .myForm {
    min-width: 50%;
  }

  .form-container{
    min-width: 80%;

  }
}
